

p{
  font-size: 80px;
  margin: 40px auto 40px auto;
  color: white;
}

#buttons {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
a.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #471f47;
  font-family: Arial;
  color: #8c1f8c;
  font-size: 42px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 8px;
  text-decoration: none;
  text-align: center;
}

a.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#buttons a {
    display: inline-block;
}

#buttons {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
#buttons #home {
  margin: 10px auto 10px auto;
}

#buttons #cont {
  margin: 10px auto 10px auto;
}